body {
  font-family: "Open Sans", sans-serif !important;
}

.text-orange {
  color: #f15025;
}

.letter-spacing {
  letter-spacing: 0.5rem;
}

.header-hero {
  min-height: calc(100vh - 56px);

  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/homeBcg.jpeg") center/cover no-repeat; */
  background: linear-gradient(rgba(241, 81, 37, 0.3), rgba(241, 81, 37, 0.3)), url("./images/homeBcg.jpeg") (center / cover) no-repeat;
}

.default-hero {
  min-height: calc(100vh - 56px);

  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/homeBcg.jpeg") center/cover no-repeat; */
  background: linear-gradient(rgba(241, 81, 37, 0.3), rgba(241, 81, 37, 0.3)), url("./images/homeBcg.jpeg") (center / cover) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./images/defaultBcg.jpeg") (center / cover) no-repeat;
}

.modalNew {
  display: block !important;
  margin: 70px auto;
  padding: 0px;
  background: #fff;
  border-radius: 5px;
  width: 100%;
  position: relative;
  width: 900px;
  background: rgba(143, 27, 15, 0.8);
}

.backdrop {
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  cursor: grab;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.wrapper {
  height: 420px;
  width: 900px;
  margin: 0px auto;
  border-radius: 7px 7px 7px 7px;

  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.product-img {
  float: left;
  height: 420px;
  width: 450px;
  object-fit: cover;
}

.product-info {
  float: left;
  height: 420px;
  width: 450px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;

  h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
    font-family: 'Bentham', serif;
  }
}

.product-price-btn p {
  font-family: 'Bentham', serif;
}

.product-text {
  h2 {
    margin: 0 0 47px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
  }

  h4 {
    margin: 50px 0 47px 38px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #963;
    letter-spacing: 0.2em;
    border-radius: 10px;
  }

  p {
    height: 125px;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
  }
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;

  p {
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
  }
}

span {
  display: inline-block;
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 34px;
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #79b0a1;
  }
}

.modalNew .footer {
  position: absolute;
  top: 0px;
  right: 0px;
}

.closePopup {
  font-size: 30px;
  padding: 10px;
}

.description {
  height: 100px;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 5.6em;
  line-height: 1.8em;
}

.grid-data img {
  object-fit: cover;

  &:hover {
    cursor: grab;
  }
}